#h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#table1{
    border: 5px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    text-align: center;
}
td{
    border: 5px solid black;
    text-align: center;
}
body{
    background-color: pink;
}